.restaurant-image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures that any overflow is hidden */
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .restaurant-image img {
    width: 100%;
    height: auto; /* Keeps aspect ratio */
    object-fit: cover; /* Ensures the image covers the container without stretching */
    border-radius: 8px; /* Optional: rounds the corners of the image */
    display: block; /* Removes bottom space/gap */
  }
  